---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

import Layout from "../layouts/Layout.astro";

import artwork1 from "../Images/artworks/Inaccurate Biblical Angel.jpg";
import artwork2 from "../Images/artworks/Nightmarish Algae.jpg";
import artwork3 from "../Images/artworks/Incomplete Drawing.jpg";
import artwork4 from "../Images/artworks/Multi-coloured Mold.jpg";

const images = await Astro.glob<{ default: ImageMetadata }>("../Images/*.gif");
---

<script>
	const navMenuButton: Element = document.querySelector("#nav-menu-button");
	const navbarButton: Element = document.querySelector("#navbar-button");
	const galleryImages: NodeListOf<HTMLImageElement> = document.querySelectorAll(".image-gallery .gallery-item");
	const expandButtons: NodeListOf<HTMLElement> = document.querySelectorAll(".image-gallery .gallery-item ~ .expand-button");
	const lightboxElem: HTMLDialogElement = document.querySelector("#image-gallery-lightbox");
	const lightboxImage: HTMLImageElement = document.querySelector("#lightbox-image");
	const lightboxCloseButton: Element = document.querySelector("#image-gallery-lightbox .close-button");
	const lightboxPreviousButton: Element = document.querySelector("#image-gallery-lightbox .previous-button");
	const lightboxNextButton: Element = document.querySelector("#image-gallery-lightbox .next-button");
	const bonusImage: HTMLImageElement = document.querySelector("#bonus-image");
	const bonusText: HTMLImageElement = document.querySelector("#bonus-text");
	const fileNameExtractRegex: RegExp = /(?!.*\/)(?<=\/).+?(?=\..+)/g;
	const imageArray: Array<{ default: ImageMetadata }> = JSON.parse(bonusImage.dataset.imageArray);
	const randomImage = imageArray[Math.floor(Math.random() * imageArray.length)];
	let currentImageIndex: number = 0;

	function toggleAriaExpandedElem (elem: Element) {
		let ariaExpanded = elem.getAttribute("aria-expanded");
		let controlledElem = document.getElementById(elem.getAttribute("aria-controls"));

		if (ariaExpanded == "false") {
			elem.setAttribute("aria-expanded", "true");
			controlledElem.classList.add("expanded");
		}
		else {
			elem.setAttribute("aria-expanded", "false");
			controlledElem.classList.remove("expanded");
		}
	}

	function lightboxImageSelector (index: string | number) {
		if (!(typeof index == "string")) {
			currentImageIndex = index
		}
		else if (index.toLowerCase() == "previous") {
			currentImageIndex = (currentImageIndex - 1 < 0) ? (galleryImages.length - 1) : (currentImageIndex - 1);
		}
		else if (index.toLowerCase() == "next") {
			currentImageIndex = (currentImageIndex + 1 >= galleryImages.length) ? 0 : (currentImageIndex + 1);
		}
		else {
			return;
		}
		lightboxImage.width = Number(galleryImages[currentImageIndex].getAttribute("width"));
		lightboxImage.height = Number(galleryImages[currentImageIndex].getAttribute("height"));
		lightboxImage.alt = galleryImages[currentImageIndex].alt;
		lightboxImage.src = galleryImages[currentImageIndex].src;
	}

	for (let i = 0; i < galleryImages.length; i++) {
		expandButtons[i].dataset.index = String(i);
		expandButtons[i].addEventListener("click", () => {
			lightboxImageSelector(Number(expandButtons[i].dataset.index));
			lightboxElem.showModal();
		}, false);
	}

	navMenuButton.addEventListener("click", () => { 
		toggleAriaExpandedElem(navMenuButton);
		
		let ariaExpanded = navMenuButton.getAttribute("aria-expanded");
		// SRText stands for Screen Reader Text
		const SRText = document.querySelector("#nav-menu-button > .visually-hidden");

		if (ariaExpanded == "false") {
			SRText.textContent = SRText.getAttribute("data-minimised-text");
		}
		else {
			SRText.textContent = SRText.getAttribute("data-maximised-text");
		}
	}, false);

	navbarButton.addEventListener("click", () => {
		toggleAriaExpandedElem(navbarButton);

		let ariaExpanded = navbarButton.getAttribute("aria-expanded");
		// SRText stands for Screen Reader Text
		const SRText = document.querySelector("#navbar-button > .visually-hidden");

		if (ariaExpanded == "false") {
			document.body.style.setProperty("--navbar-width", "var(--contracted-navbar-width)");
			SRText.textContent = SRText.getAttribute("data-minimised-text");
		}
		else {
			document.body.style.setProperty("--navbar-width", "var(--expanded-navbar-width)");
			SRText.textContent = SRText.getAttribute("data-maximised-text");
		}
	}, false);

	lightboxCloseButton.addEventListener("click", () => { lightboxElem.close() }, false);
	lightboxPreviousButton.addEventListener("click", () => { lightboxImageSelector("previous") }, false);
	lightboxNextButton.addEventListener("click", () => { lightboxImageSelector("next") }, false);

	bonusImage.width = randomImage.default.width;
	bonusImage.height = randomImage.default.height;
	bonusImage.src = randomImage.default.src;
	bonusImage.style.setProperty("--image-width", `${String(randomImage.default.width)}px`);
	bonusImage.style.setProperty("--image-height", `${String(randomImage.default.height)}px`);
	/** 
	* Returns the new text if the variable is empty
	*/
	let updateIfEmpty: (text: string, field: string) => string = (text, field) => {return !(field) ? text : field};
	let quote = "";
	let animeInfo = "";
	switch (fileNameExtractRegex.exec(randomImage.default.src)[0]) {
		case "Faputa-excited":
			bonusImage.alt = updateIfEmpty("Faputa running around on her arms and legs, and jumping", bonusImage.alt);
			quote = updateIfEmpty("Faputa is adorable :3", quote);
			animeInfo = updateIfEmpty("Faputa from Made In Abyss", animeInfo);

		case "Faputa-nom-reg":
			bonusImage.alt = updateIfEmpty("Faputa biting Reg's cheek", bonusImage.alt);
			quote = updateIfEmpty("Cute Faputa cutely biting Reg's cheek :3, I love Made In Abyss", quote);
			animeInfo = updateIfEmpty("Faputa (the one biting) and Reg (the one being bitten) from Made In Abyss", animeInfo);

		case "Feel The Burn":
			bonusImage.alt = updateIfEmpty("Shizumo, standing and being on fire at a table, while Atarashi and Matsumi look at her", bonusImage.alt);
			quote = updateIfEmpty("Representation of me motivating myself to finish the website (I know nothing about the anime)", quote);
			animeInfo = updateIfEmpty("Shizumo (the one on fire), Atarashi (on the right), Matsumi (on the left) from Saki Achiga-hen: Episode of Side-A", animeInfo);

		case "Nanachi-celebrating":
			bonusImage.alt = updateIfEmpty("Nanachi smiling while raising their arm as the camera zooms in with Belaf in the background", bonusImage.alt);
			quote = updateIfEmpty("Representation of me celebrating having survived long hours of working on this website", quote);
			animeInfo = updateIfEmpty("Nanachi (the one in the front) and Belaf from Made In Abyss", animeInfo);

		case "Nanachi-grinding":
			bonusImage.alt = updateIfEmpty("Nanachi talking while turning the handle of a grinder", bonusImage.alt);
			quote = updateIfEmpty("Nanachi grinding something as they are preparing food, I included this gif because I love Nanachi (a little too much)", quote);
			animeInfo = updateIfEmpty("Nanachi from Made In Abyss", animeInfo);

		case "Nanachi-sad":
			bonusImage.alt = updateIfEmpty("Nanachi being sad in a sarcastic manner to tease Reg while holding a stone tablet and pencil", bonusImage.alt);
			quote = updateIfEmpty("Rikooo, Oitekinaideee", quote);
			animeInfo = updateIfEmpty("Nanachi from Made In Abyss", animeInfo);

		case "aoi-inuyama-yuru-camp":
			bonusImage.alt = updateIfEmpty("Aoi Inuyama opening her eyes then waving her hand", bonusImage.alt);
			quote = updateIfEmpty("Hiii, I hope you enjoyed your time on my website! See you another time!", quote);
			animeInfo = updateIfEmpty("Aoi Inuyama from Yuru Camp", animeInfo);

		case "little dance":
			bonusImage.alt = updateIfEmpty("Chika Fujiwara doing a little dance", bonusImage.alt);
			quote = updateIfEmpty("A fun little dance to distract oneself from responsibilities and other things", quote);
			animeInfo = updateIfEmpty("Chika Fujiwara from Kaguya-sama: Love Is War", animeInfo);

		case "nekopara-anime-lay-down-exhausted-tired":
			bonusImage.alt = updateIfEmpty("Chocola and Vanilla both exhausted while Vanilla lay her head down on the table and Chocola lay down on the couch", bonusImage.alt);
			quote = updateIfEmpty("This is how I am after spending hours working on this website, making sure that everything works as intended, and that there is no mistakes. They are so adorable >w<", quote);
			animeInfo = updateIfEmpty("Chocola and Vanilla from Nekopara", animeInfo);

		default:
			bonusText.innerHTML = `<i>"${ quote }"<br><br>- ${ animeInfo } -</i>`;
			bonusImage.title = bonusImage.alt;
			console.log(`bonusImage.alt = ${ updateIfEmpty("No alternative text is available for the chosen image", bonusImage.alt) }`);
			console.log(`quote = ${ updateIfEmpty("No quote is available for the chosen image", quote) }`);
			console.log(`animeInfo = ${ updateIfEmpty("No information about the anime is available for the chosen image", animeInfo) }`);
	}
</script>

<Layout title="Zarcka's Portfolio">
	<a href="#main" id="main-skip-link">Skip to main content</a>
	<div id="navbar">
		<nav id="nav-menu">
			<button id="nav-menu-button" type="button" aria-expanded="false" aria-controls="nav-list" aria-label="Navigation Menu Button">
				<span aria-hidden="true">&plus;</span>
				<span class="visually-hidden" data-maximised-text="Close" data-minimised-text="Open">Open</span>
				Menu
			</button>
			<ul id="nav-list">
				<li class="nav-item">
					<a href="#intro" class="nav-link">Home</a>
				</li>
				<li class="nav-item">
					<a href="#about" class="nav-link">About</a>
				</li>
				<li class="nav-item">
					<a href="#projects" class="nav-link">Projects</a>
				</li>
				<li class="nav-item">
					<a href="#contacts" class="nav-link">Contacts</a>
				</li>
			</ul>
		</nav>
		<div class="secondary"></div>
		<div class="accent">
			<button id="navbar-button" type="button" aria-expanded="false" aria-controls="navbar">
				<span 
					class="visually-hidden" 
					data-maximised-text="Hide navigation bar" 
					data-minimised-text="Open navigation bar">Open navigation bar</span> 
				<span aria-hidden="true">&gt;</span>
			</button>
		</div>
	</div>
	<main id="main">
		<header id="intro">
			<h1 id="title">
				<span class="primary-underline">Zarcka,</span>
				<br>
				<span class="secondary-underline">
					<span class="code-tag">&lt;</span>Programmer<span class="code-tag"> /&gt;</span>
				</span>
				<svg
					width="115"
					height="107"
					viewBox="0 0 115 107"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
					aria-hidden="true"
					focusable="false"
					class="sparkles"
				>
					<path
						d="M2.5 56C20 49 30.2273 42.6177 33 16C37.9908 42.6177 45.9175 53.5281 63.1081 56.8553C47.0265 62.4007 36.2131 71.2733 33.1631 97.3365C27.3405 66.837 18.027 59.8818 2.5 56Z"
						fill="#D4764A"></path>
					<path
						d="M33 13.6667C30.4504 40.4706 22.8145 49.1602 1 56.0077"
						stroke="#D4764A"></path>
					<path
						d="M1.48489 56.0077C21.4355 59.4331 27.9033 69.6921 33.0001 99.0001"
						stroke="#D4764A"></path>
					<path
						d="M33 99.0001C35.5496 72.1962 43.1856 63.5066 65 56.6591"
						stroke="#D4764A"></path>
					<path
						d="M64.5152 56.6591C44.5646 53.2337 38.0968 42.9747 33 13.6667"
						stroke="#D4764A"></path>
					<path
						d="M72.4375 28.4653C82.5 25.8403 92.125 19.7153 92.5933 1C96.0707 19.6324 101.75 27.5903 113.458 28.9486C102.253 32.8304 95.1251 38.6585 93 56.9028C89.5 35.9028 83.2561 31.1825 72.4375 28.4653Z"
						fill="#F4B8A9"></path>
					<path
						d="M93 1C91.3268 18.5901 86.3157 24.2926 72 28.7863"
						stroke="#F4B8A9"></path>
					<path
						d="M72.3183 28.7863C85.4109 31.0342 89.6554 37.7666 93.0001 57"
						stroke="#F4B8A9"></path>
					<path
						d="M93 57C94.6732 39.4099 99.6843 33.7074 114 29.2137"
						stroke="#F4B8A9"></path>
					<path
						d="M113.682 29.2137C100.589 26.9658 96.3448 20.2334 93.0001 1"
						stroke="#F4B8A9"></path>
					<path
						d="M63.3125 85.618C70.5 83.7431 77.375 79.3681 77.7095 66C80.1933 79.3089 84.25 84.993 92.6127 85.9633C84.6091 88.736 79.5179 92.8989 78 105.931C75.5 90.9305 71.0401 87.5589 63.3125 85.618Z"
						fill="#7EB9C2"></path>
					<path
						d="M78 66C76.8049 78.5643 73.2255 82.6376 63 85.8473"
						stroke="#7EB9C2"></path>
					<path
						d="M63.2274 85.8473C72.5792 87.453 75.611 92.2619 78.0001 106"
						stroke="#7EB9C2"></path>
					<path
						d="M78 106C79.1951 93.4357 82.7745 89.3624 93 86.1527"
						stroke="#7EB9C2"></path>
					<path
						d="M92.7728 86.1527C83.4209 84.547 80.3892 79.7381 78.0001 66"
						stroke="#7EB9C2"></path>
				</svg>
			</h1>
			<p>
				Welcome to my corner of the Internet, a little museum built by me! You can learn one thing or two about me, see some of my artworks and I hope you enjoy your time and get to know me a little bit better.
			</p>
			<a href="#about" class="primary-button">About Me<span aria-hidden="true" style="margin-left: 1ch">&#10095;</span></a>
		</header>
		<section id="about">
			<section id="self-description" class="subsection">
				<h2>About Me</h2>
				<p>
					Hi, my name's Zarcka! What do you think about it?
					<br>
					I am someone who is rather creative, more or less silly, and who has a soft spot for anything of cute or adorable such as cats :3, dogs, and plushies ^-^. I find pleasure in learning about things that I am passionate about or simply interested in, and being able to better my understanding. Some of those things are &#8212; programming: I have been teaching myself programming for a few years by now and whilst I have become more or less good at it, I still have a lot to improve on and much more to learn, and so as of the time of writing, I am learning Haskell, a functional programming language, to improve as a programmer while expanding my skillset; mathematics: I am someone of passionate about mathematics and I have been learning about differentiation for a little while from online resources such as the '<a href="https://www.3blue1brown.com/topics/calculus" target="_blank">Essence of Calculus</a>' by <a href="https://www.3blue1brown.com" target="_blank">3Blue1Brown</a> and have more recently started learning on integration from the same course, and further on, I would like to learn more on linear algebra; German: I am learning German on my own from books, online resources, and a with a little help from my lovely, multilingual friend who also has their own website: <a href="https://leaf.moe" target="_blank">https://leaf.moe</a>, and as I am still early on in my learning, I often make mistakes and even though they can be discouraging, I am determined and do not plan on giving up anytime soon; and DIY: as I like repairing and crafting little things, DIY became an interest of mine, and an example of me doing DIY was when I used a pen cap as a replacement for the missing tip of my umbrella. Moreover, I am an artist and I draw on rare occasions as I am busy with studies and working on other projects such as this one. But regardless of that, I still would like to draw more often as I want to complete some of my unfinished artworks especially my masterpiece. Furthermore, I enjoy playing osu!, a rythm game, and more specifically osu!mania 4k, a game mode of osu!, as I have been improving quite a lot at it and as I find it more enjoyable than the standard game mode. And lastly, I enjoy playing around with my voice by pitching it higher, meowing or making other weird sounds but most of the time, I prefer to meow and I have been able to improve quite a lot, I now can meow more easily at will and better modulate it.
				</p>
				<p>
					Starting with programming, I got into programming at a young age due to my fascination for computers and electronics. At first, I attempted to learn python with little success, then my second attempt was at learning at C++ &#8212; and you can guess how well did that went. Even though I had no prior experience to low-level programming, I was quite ambitious and even created a little group named the 'C++ Grave' as I said that I would bury myself there if I failed to learn C++, and that this grave would provide guidance and caution to those who dare follow the same path. However, it would not only turn out to be a place to talk about my journey but also a place to have a casual chat and discuss about life and many other things &#8212; cooking included. I got to spend a fun and memorable time with some nice people and I am quite thankful to them for those memories. Even though my adventure had unfortunately ended (and that I am now buried and became a ghost), the history of this group would not end so soon, but unfortunately, it is too long to write here in details. After I have given up C++, I moved to front-end development where I would learn about HTML, CSS, JS, JS-frameworks, and a little web designing skills alongside other things. Nevertheless, I still attempt to learn a new programming language and this time around, it is Haskell &#8212; a functional programming language. And later on, I would like to move to other things like game development, and maybe also learn about electronics and even about robotics.
				</p>
				<p>
					Following with art, I draw occasionally using pen or pencil on A3 or A4 paper. I originally used pencil but now pen is preferred for drawing but not yet for writing; pen is my preferred option as it doesn't need to be sharpened like pencil does but I am still improving at drawing with pen and better incorporating colours into my art while also learning about the different types of pen and inks, and their properties. A4 paper is the size of paper I originally began with and is still my preferred option as I am habited to drawing on A4 paper and as it takes less time to complete compared to A3 paper, but by 'less time', I do not mean 1 or 2 weeks; a detailed A4 drawing can take up to a month or more depnding on the size of the drawing, the level of details and how regurlarly I work on the drawing. So a full detailed A3 drawing would take half a year or more to be completed, and this is why you won't see new drawings often. Before my journey towards abstract art, I did draw but I was replicating other people's artworks from a mobile phone screen onto paper using pencil, and this may have inadvertently given me an advantage when I began doing abstract art. My journey began when I met a dear friend of mine who is an amazing artist (<a href="https://ashnscar21.carrd.co/" target="_blank">Ash's website</a>), and they showed an artwork of theirs to me which made me jealous so I started watching a tutorial but then deviated from it as I explored and did my own things. A few years later, my specialty is now abstract art, I am here writing about my way of doing art and I am no more as jealous of their artworks or other people's artworks as much as before. I thank them for giving me the spark of motivation that started my journey and the determination that kept me going till this day, so if you have the time, you should take a look at <a href="https://ashnscar21coms.carrd.co/#portfolio" target="_blank">their portfolio</a> and also check their other <a href="https://ashnscar21mediapage.carrd.co/" target="_blank">social media</a> especially the discord server, <a href="https://discord.gg/fhN7AYD6Yq" target="_blank">Ash's Cafe | Community Server</a>, as I am the host of Question of the Day (and Question of the Night) in this server, and you can meet me there.
				</p>
				<p>
					Lastly, osu! &#8212; my favourite rythm game (profile: <a href="https://osu.ppy.sh/users/32690558" target="_blank">Zarcka</a>). I began to play in January of 2023 and at first, it took me a while to get used to the mechanics of <a href="https://osu.ppy.sh/wiki/en/Game_Mode#osu!" target="_blank">osu!</a> (game mode). After having gotten used to osu! mechanics, I kept playing for more than a year using keyboard and mouse, and I am still playing and improving while having fun. And at the time of writing, I can play <a href="https://osu.ppy.sh/wiki/en/Beatmap/Difficulty" target="_blank">difficulties</a> up to 4 stars at an AR of around 9. Furthermore, I am also an <a href="https://osu.ppy.sh/wiki/en/Game_Mode#osu!mania" target="_blank">osu!mania</a> [4K, 6K, 7K] player. I began playing osu!mania as my performance on osu! began to plateau and I was becoming increasingly frustrated at it, so I took a break from osu! and focused on osu!mania; I improved quite rapidly and had a lot of fun, the became curious so I tried out 6K and later on 7K. The highest difficulty I can play on osu!mania 4K: 3.2 stars; 6K and 7K: 2 stars. Last but not least, I really like playing both osu! and osu!mania, and osu! is my favourite rythm game and have made my love for rythm games even stronger. I also began playing Phigros (it's a nightmare of its own) as it caught my interest and as it has some challenging game mechanics that put my skills to the test; and I have been having fun playing Phigros even though I struggle to hit some note types.
				</p>
			</section>
			<section id="hobbies" class="subsection">
				<h3>Hobbies</h3>
				<ul class="text-list">
					<li class="list-item">Programming</li>
					<li class="list-item">Drawing</li>
					<li class="list-item">Playing osu!</li>
					<li class="list-item line-through"><i>Playing sudoku</i></li>
					<li class="list-item line-through"><i>Reading</i></li>
				</ul>
			</section>
			<section id="stats" class="subsection">
				<h3>Statistics</h3>
				<ul class="stats-list">
					<li class="list-item">
						Mathematics
						<span class="progress-bar" style="--val: 55%"></span>
					</li>
					<li class="list-item">
						Social skills
						<span class="progress-bar" style="--val: 25%"></span>
					</li>
					<li class="list-item">
						Sleep schedule
						<span class="progress-bar" style="--val: 20%"></span>
					</li>
					<li class="list-item">
						Time management
						<span class="progress-bar" style="--val: 15%"></span>
					</li>
				</ul>
			</section>
			<section id="anime" class="subsection">
				<h3>Anime</h3>
				<ul class="text-list">
					<li class="list-item">Diabolik Lovers [Season 1]</li>
					<li class="list-item">The Case Study of Vanitas [Season 1-2]</li>
					<li class="list-item">Made In Abyss [Season 1-2]</li>
					<li class="list-item">Made In Abyss the Movie: Dawn of the Deep Soul</li>
					<li class="list-item">Black Butler [Ep 1]</li>
					<li class="list-item">Onimai: I'm Now Your Sister [Ep 1-2]</li>
					<li class="list-item">Mashle: Magic and Muscles [Ep 1-10]</li>
					<li class="list-item">Miss Kobayashi's Dragon Maid [Ep 1-7]</li>
				</ul>
			</section>
			<section id="likes-dislikes" class="subsection">
				<section id="likes" class="subsection">
					<h3>&plus; Likes</h3>
					<ul class="text-list">
						<li class="list-item">Cute plushies</li>
						<li class="list-item">Cats and dogs
<pre class="text-art" aria-hidden="true">
        へ   ♡   ╱|、
    ૮ -  ՛)     (` - 7
    / ⁻  ៸|      |、⁻〵
乀 (ˍ, ل  ل      じしˍ,)ノ
</pre>
						</li>
						<li class="list-item">Other cute animals</li>
						<li class="list-item">Coffee</li>
						<li class="list-item">Chocolate</li>
						<li class="list-item">Text art or ASCII art</li>
						<li class="list-item">Looking at plants</li>
						<li class="list-item">Mahiro Oyama from Onii-chan wa Oshimai!</li>
						<li class="list-item">Camellia and t+pazolite (both are amazing)</li>
						<li class="list-item">Made In Abyss (I love this anime but I will not watch it again for a long time)</li>
					</ul>
				</section>
				<section id="dislikes" class="subsection">
					<h3>&minus; Dislikes</h3>
					<ul class="text-list">
						<li class="list-item">Feeling lonely for long periods of time</li>
						<li class="list-item">Feeling depressed</li>
						<li class="list-item">Being tired but can't fall asleep</li>
						<li class="list-item">Realistic blood, gore, etc <i>(I am a bit senstive to those kind of things)</i></li>
						<li class="list-item"><b>The feeling of envying something that I can never have.</b></li>
					</ul>
				</section>
			</section>
		</section>
		<section id="projects">
			<section id="drawings" class="subsection">
				<h2>Drawings</h2>
				<div class="image-gallery">
					<div class="gallery-item-container">
						<Image
							src={artwork1}
							alt="A pencil drawing of tentacles with eyes coming out of the center using small dots and lines"
							class="gallery-item"
							title="Inaccurate Biblical Angel.jpg"
						/>
						<button type="button" class="secondary-button expand-button">Expand <span aria-hidden="true">&plus;</span></button>
					</div>
					<div class="gallery-item-container">
						<Image
							src={artwork2}
							alt="An abstract drawing using pencil"
							class="gallery-item"
							title="Nightmarish Algae.jpg"
						/>
						<button type="button" class="secondary-button expand-button">Expand <span aria-hidden="true">&plus;</span></button>
					</div>
					<div class="gallery-item-container">
						<Image
							src={artwork3}
							alt="An incomplete abstract drawing using pencil"
							class="gallery-item"
							title="Incomplete Drawing.jpg"
						/>
						<button type="button" class="secondary-button expand-button">Expand <span aria-hidden="true">&plus;</span></button>
					</div>
					<div class="gallery-item-container">
						<Image
							src={artwork4}
							alt="An incomplete drawing consisting of small dots of different colours using pens"
							class="gallery-item"
							title="Multi-coloured Mold.jpg"
						/>
						<button type="button" class="secondary-button expand-button">Expand <span aria-hidden="true">&plus;</span></button>
					</div>
					<dialog id="image-gallery-lightbox">
						<img src="" alt="" id="lightbox-image" />
						<button type="button" class="secondary-button close-button" autofocus>
							<span class="visually-hidden">Close image lightbox</span>
							<span aria-hidden="true">&minus;</span>
						</button>
						<button type="button" class="secondary-button previous-button">
							<span class="visually-hidden">Previous image</span>
							<span aria-hidden="true">&#10094;</span>
						</button>
						<button type="button" class="secondary-button next-button">
							<span class="visually-hidden">Next image</span>
							<span aria-hidden="true">&#10095;</span>
						</button>
					</dialog>
				</div>
			</section>
		</section>
		<section id="footer">
			<section id="footer-note" class="subsection">
				<h2>Thank you for reading!</h2>
				<p>
					The designing of this website had started in the October of 2023 and the website hasn't turned out exactly as I designed it but it turned out for the better and the design was very useful in the process. Thanks to a more experienced person for the feedback on the design and to Leaf for feedback on the sidebar. It now is contracted by default, the little border on the button is no more present unless being hovered on and then it is only 4px wide.
				</p>
				<p>
					The development of the website had started in November of 2023 and the first version of it was released on the 31th of December 2023 at around 1 am. Pushing it to the Github repository was harder than I thought and I had quickly realised I had forgotten to change the website title so I rapidly fixed that. 
				</p>
				<p>
					Even though the website was technically done, it was not perfect enough so I made a list of things to work on and improve. Fast forward to February March of 2024 (this project took way longer), the About Me section has been rewritten; the Skills section has been renamed to the Statistics section and more was added to it; and the other sections have been changed too. Still, I am not satisfied with what I wrote in the about me section as it doesn't quite capture who I am and other things such as my interest for Mathematics and how I can be from time to time. I could keep working on it for another month but I have my academic studies and other projects I want to devote my attention and energy to.
				</p>
				<p>
					August 2024 update: The About Me section was re-written <i>(It's even longer now)</i>, added an Anime section, updated the Hobbies section (I am back to drawing :D), and added Coffee to the list of things I like. The sidebar is contracted by default, the little light red border on the button has been removed; it now only appears on hover and is 4px wide. And the pictures in the Drawing section have been replaced with higher resolution versions.
				</p>
				<p>
					I will end it here as I am tired and have been focusing solely on finishing this website. I would like to finally go back to having more relaxed days, playing osu! and Open Transport Tycoon Deluxe (<a href="https://www.openttd.org" target="_blank">OpenTTD's website</a>), and working on my latest artwork. Check out <a href="https://ashnscar21.carrd.co/" target="_blank">Ash's website</a> as they deserve attention and support. So, I hope you enjoyed your time here and if you have any feedback, you can send it to me and I will read it. I hope you, dear reader, have an amazing day, night or time, and I bid you farewell. <i>Scroll for bonus section :3</i>
				</p>
			</section>
			<section id="contacts" class="subsection">
				<h3>Contacts</h3>
				<ul class="contacts-list">
					<li class="list-item">
						Osu: <a href="https://osu.ppy.sh/users/32690558" target="_blank" class="external-link">Zarcka</a>
					</li>
					<li class="list-item">
						Github: <a href="https://github.com/Zarcka/" target="_blank" class="external-link">Zarcka</a>
					</li>
					<li class="list-item">
						Discord: <a href="https://discord.gg/fhN7AYD6Yq" target="_blank" class="external-link">Zarcka</a>
					</li>
					<p>(Note: The Discord link will invite you to Ash's Cafe | Community Server. You can mention me there and mention that you came from my website, then I will friend you)</p>
				</ul>
			</section>
		</section>
		<section id="bonus">
			<h2>Bonus</h2>
			<img src="" alt="" id="bonus-image" data-image-array={ JSON.stringify(images) }/>
			<p id="bonus-text"></p>
			<br>
			<p>
				<i>Tip: Reload the page for a different gif. There 9 different gifs, have fun finding them all! :3</i>
			</p>
		</section>
	</main>
</Layout>

<style>
/* --- Miscelleneous - START --- */
	:root {
  /* --- Colours - START --- */
		--text-clr: #39150b;
		--text-dark-clr: #331109;
		--text-darker-clr: #290c06;
		--text-light-clr: #5b331c;
		--text-lighter-clr: #734932;

		--bg-clr: #fbe9e4;
		--bg-dark-clr: #e0c0b8;
		--bg-darker-clr: #ba8a7f;
		--bg-light-clr: #fcf2ed;
		--bg-lighter-clr: #fcf7f2;

		--primary-clr: #0d5263;
		--primary-dark-clr: #0b4759;
		--primary-darker-clr: #07364a;
		--primary-light-clr: #398391;
		--primary-lighter-clr: #7eb9c2;

		--secondary-clr: #ffbdb6;
		--secondary-dark-clr: #e69b93;
		--secondary-darker-clr: #bf6d65;
		--secondary-light-clr: #ffd8cc;
		--secondary-lighter-clr: #ffece0;

		--accent-clr: #be310e;
		--accent-dark-clr: #ad280a;
		--accent-darker-clr: #8f2007;
		--accent-light-clr: #d4764a;
		--accent-lighter-clr: #e6b591;
  /* --- Colours - END --- */

  /* --- Section Styles - START --- */
		--section-border-width: 1px;
		--section-border-clr: var(--text-lighter-clr);
		--section-border-style: solid;
		--section-border: var(--section-border-width) var(--section-border-clr) var(--section-border-style);

		--subsection-border-width: 1px;
		--subsection-border-clr: var(--text-lighter-clr);
		--subsection-border-style: dashed;
		--subsection-border: var(--subsection-border-width) var(--subsection-border-clr) var(--subsection-border-style);
  /* --- Section Styles - END --- */
	}

	* {
		box-sizing: border-box;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
		font-family: "DM Serif Display";
		text-decoration-line: underline;
		text-decoration-color: var(--accent-lighter-clr);
		text-decoration-thickness:  0.15em;
		text-decoration-skip-ink: none;
		text-underline-offset: 0em;
		line-height: initial;
		color: var(--text-clr);
		transition: 200ms all cubic-bezier(0.18,0.89,0.32,1.28), 200ms background-color cubic-bezier(0.22,0.61,0.36,1);
	}

	h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
		text-decoration-thickness: 0.35em;
		text-underline-offset: -0.2em;
	}

	h1 {
		position: relative;
		margin: calc(3.75em - 27.5vh) 0 0.45em 0;
		font-size: calc(2rem + 1.6vh + 1.6vw);
		letter-spacing: 0;
		line-height: 1.3;
	}

	h2 {
		margin-bottom: 1.75rem;
		font-size: calc(1.75rem + 0.6vh + 0.6vw);
		text-decoration-color: var(--accent-light-clr);
	}

	section:not(.subsection) > h2 {
		font-size: calc(1.75rem + 1vh + 1vw);
	}

	h3 {
		margin-bottom: 1rem;
		font-size: calc(1.5rem + 0.35vh + 0.35vw);
	}

	p {
		max-width: 80ch;
		margin: 1rem 0 2rem;
	}

	a:focus-visible, button:focus-visible {
		outline: 4px var(--accent-light-clr) solid;
	}

	main {
		grid-area: content;
	}

	section:not(.subsection), footer {
		padding: 5rem 8vw;
	}

	* + section:not(.subsection),
	* + footer {
		border-top: var(--section-border);
	}

	/*
		Style the skip links to be fixed to the 
		top of the page, and have an initial 
		negative Y-axis value.
	*/
	#main-skip-link {
		z-index: 1000;
		background: var(--text-darker-clr);
		color: var(--bg-lighter-clr);
		left: 0;
		padding: .75em;
		position: fixed;
		top: 0;
		transform: translateY(-10em);
		transition: transform 200ms ease-in-out;
	}

	/*
		Upon focus of the skip link, transition
		it into view by returning it's Y-axis to
		the default 0 value.
	*/
	#main-skip-link:focus {
		transform: translateY(0em);
	}

	.visually-hidden {
		clip: rect(0 0 0 0); 
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap; 
		width: 1px;
	}

	.line-through {
		text-decoration-line: line-through;
	}

	.text-art {
		margin: 1em 0 0 1em;
		font-size: 0.6em;
		font-weight: 900;
		line-height: 1.3;
	}

	.code-tag {
		font-family: Poppins;
		font-weight: 500;
		font-size: 0.9em;
		color: var(--accent-light-clr);
	}

	.external-link {
		position: relative;
	}

	.external-link::after {
		content: "";
		position: absolute;
		left: calc(100% + 0.35em);
		width: 100%;
		height: 100%;
		background-image: url("../Icons/arrow-up-right-from-square-solid.svg");
		background-repeat: no-repeat;
		background-position: 0 100%;
		background-size: 1.15em;
	}
/* --- Miscellaneous - END --- */

/* --- Navigation Bar - START --- */
	#navbar {
		z-index: 100;
		height: 100vh;
		grid-area: navbar;
		position: sticky;
		top: 0;
		right: 0;
		display: flex;
		flex-direction: column;
	}

	#navbar > .secondary {
		width: 100%;
		height: 30%;
		flex: 3 1 0;
		background-color: var(--secondary-clr);
	}

	#navbar > .accent {
		width: 100%;
		height: 10%;
		flex: 1 1 0;
		background-color: var(--accent-clr);
	}

	#navbar-button {
		float: right;
		width: 100%;
		height: 100%;
		padding: 0;
		color: var(--bg-lighter-clr);
		font-family: inherit;
		font-size: 1.5em;
		background-color: var(--accent-clr);
		background-size: 100% 100%;
		border: none;
		border-left: 0px var(--accent-light-clr) solid;
		cursor: pointer;
		transition:
			200ms all cubic-bezier(0.18, 0.89, 0.32, 1.28),
			200ms background-color cubic-bezier(0.22, 0.61, 0.36, 1),
			0ms 200ms rotate linear;
	}

	#navbar-button:hover, 
	#navbar-button:focus-visible {
		background-color: var(--accent-dark-clr);
		background-size: 0 100%;
		border-left-width: 4px;
	}

	#navbar-button:focus-visible {
		outline-color: var(--primary-lighter-clr);
	}

	#navbar-button:active {
		background-color: var(--accent-darker-clr);
	}

	#navbar-button[aria-expanded="false"] {
		rotate: 180deg;
	}

	#nav-menu {
		display: flex;
		align-items: center;
		width: 100%;
		min-height: 60%;
		background-color: var(--primary-clr);
	}

	#nav-menu-button {
		display: none;
		padding: 0;
		margin: 0 0 0 1rem;
		height: 100%;
		border: none;
		background-color: transparent;
		color: var(--bg-light-clr);
		font-family: "poppins";
		font-size: inherit;
		cursor: pointer;
	}

	#nav-list {
		visibility: hidden;
		overflow-x: hidden;
		list-style: none;
		width: 0;
		margin: 0;
		padding: 0;
		transition: 
			500ms all cubic-bezier(0.18,0.89,0.32,1.28), 
			200ms background-color cubic-bezier(0.22,0.61,0.36,1), 
			400ms 100ms width cubic-bezier(1,0,0,1);
	}

	#navbar.expanded #nav-list {
		visibility: visible;
		width: 100%;
	}

	.nav-link {
		--bg-bar-clr: var(--primary-lighter-clr);
		display: block;
		width: 100%;
		padding: 1.2rem 1.2em;
		color: var(--bg-light-clr);
		text-decoration: none;
		border-top: 2px var(--primary-light-clr) solid;
		border-bottom: 2px var(--primary-light-clr) solid;
		transition:
			200ms all cubic-bezier(0.18, 0.89, 0.32, 1.28),
			200ms background-color cubic-bezier(0.22, 0.61, 0.36, 1);
		background: linear-gradient(
			180deg,
			var(--primary-lighter-clr) 33%,
			var(--secondary-lighter-clr) 33%,
			var(--secondary-lighter-clr) 66%,
			var(--accent-lighter-clr) 66%
		);
		background-position: 0 100%;
		background-repeat: no-repeat;
		background-size: 0 100%;
	}

	.nav-link:hover,
	.nav-link:focus-visible {
		padding-left: 2em;
		background-color: var(--primary-dark-clr);
		background-position: 0 100%;
		background-size: 1rem 100%;
	}

	.nav-link:active {
		padding-left: 2rem;
		background-color: var(--primary-darker-clr);
		background-position: 0 0;
	}

	.nav-item ~ .nav-item > .nav-link {
		border-top: none;
	}

	@media (max-width: 67em) or (max-height: 37.875em) {
  /* --- Mobile Navigation Bar - START --- */
		#navbar {
			width: 100%;
			height: initial;
			flex-direction: row;
		}

		#navbar > .secondary {
			width: 30%;
			height: 100%;
		}

		#navbar > .accent {
			width: 10%;
			height: 100%;
		}

		#navbar-button {
			display: none;
		}

		#nav-menu {
			width: 60%;
			min-height: 100%;
			display: initial;
			background-color: var(--primary-clr);
		}

		#nav-menu-button {
			display: initial;
		}

		#nav-list {
			visibility: hidden;
			overflow: hidden;
			max-width: 0;
			width: 100%;
			max-height: calc(100vh - 100%);
			background-color: inherit;
			border-top: 2px var(--accent-light-clr) solid;
			transition: 400ms all cubic-bezier(1,0,0,1);
		}

		#nav-list.expanded {
			visibility: visible;
			overflow: auto;
			max-width: 100%;
		}

		.nav-link {
			border-top: none;
		}
  /* --- Mobile Navigation Bar - END --- */
	}
/* --- Navigation Bar - END --- */

/* --- Buttons - START --- */
	.primary-button,
	.secondary-button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: fit-content;
		min-width: 10ch;
		min-height: 44px;
		padding: 1.25em 2em;
		background-color: transparent;
		border: none;
		font-family: inherit;
		font-size: inherit;
		font-weight: 500;
		text-decoration: none;
		text-align: center;
		line-height: 1.3;
		cursor: pointer;
		transition:
			200ms all cubic-bezier(0.18, 0.89, 0.32, 1.28),
			200ms background-color cubic-bezier(0.22, 0.61, 0.36, 1);
	}

	@media screen and (-ms-high-contrast: active) {
		.primary-button,
		.secondary-button {
			border: 2px solid currentcolor;
		}
	}

	.primary-button {
		color: var(--bg-light-clr);
		background-color: var(--primary-clr);
		box-shadow: 4px 4px var(--accent-light-clr);
		background-image: linear-gradient(
			90deg,
			var(--primary-lighter-clr) 33%,
			var(--secondary-lighter-clr) 33%,
			var(--secondary-lighter-clr) 66%,
			var(--accent-lighter-clr) 66%
		);
		background-position: 0 100%;
		background-repeat: no-repeat;
		background-size: 100% 0;
	}

	.primary-button:hover,
	.primary-button:focus-visible,
	.primary-button:active {
		padding-left: 2.5em;
		padding-right: 2.5em;
		background-color: var(--primary-dark-clr);
		background-position: 0 100%;
		background-size: 100% 0.5rem;
	}

	.primary-button:active {
		background-color: var(--primary-darker-clr);
	}

	.secondary-button {
		color: var(--text-clr);
		background-color: var(--secondary-light-clr);
		box-shadow: 4px 4px var(--primary-lighter-clr);
	}

	.secondary-button:hover,
	.secondary-button:active {
		padding-right: 2.5em;
		padding-left: 2.5em;
		background-color: var(--secondary-clr);
	}

	.secondary-button:active {
		background-color: var(--secondary-dark-clr);
	}

	.expand-button {
		display: block;
		margin-left: auto;
	}

/*
	When the expanded image is smaller than the unexpanded image or displayed image due to screen size being too small
	Remove the expand button as it is not useful.
*/
	@media (max-width: 40rem) {
		.expand-button {
			display: none;
		}
	}
/* --- Buttons - END --- */

	.progress-bar {
		position: relative;
		display: block;
		height: 0.5rem;
		background-color: var(--primary-lighter-clr);
		border-radius: 16px;
		box-shadow: 4px 4px 0 0 var(--text-lighter-clr);
	}

	.progress-bar::before {
		content: "";
		position: absolute;
		width: var(--val, 0px);
		height: 100%;
		background-color: var(--accent-clr);
		border-radius: inherit;
	}

	.text-list {
		padding-left: 1.5rem;
	}

	.text-list > .list-item {
		max-width: 65ch;
		margin-bottom: 0.5em;
	}

	.stats-list {
		padding-left: 0;
		/* width of the list after substracting padding on both sides */
		/* formula to calculate the width: 100vw - (side-padding * 2) */
		width: 84vw;
		max-width: 19.5rem;
		font-weight: 500;
		list-style: none;
	}

	.stats-list > .list-item {
		margin-bottom: 3em;
	}

	.contacts-list {
		padding-left: 0;
		list-style: none;
	}

	.contacts-list > .list-item {
		margin-bottom: 0.5em;
		font-weight: 500;
	}

	.image-gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 3rem 2.5rem;
		padding: 2.5rem 1rem;
		border-top: var(--subsection-border);
		border-bottom: var(--subsection-border);
	}

	.image-gallery .gallery-item {
		display: block;
		width: 100%;
		max-width: 774px;
		height: auto;
		box-shadow: 4px 4px 0 var(--secondary-clr);
	}

	#image-gallery-lightbox {
		width: 100vw;
		height: 100vh;
		padding: 0;
		background: none;
		border: none;
		grid-template-rows: max-content 1fr;
		justify-items: center;
		justify-content: center;
		row-gap: 1rem;
		column-gap: 1rem;
	}

	#image-gallery-lightbox[open] {
		display: grid;
	}

	#image-gallery-lightbox::backdrop {
		background-color: rgba(0, 0, 0, 0.8);
	}

	#lightbox-image {
		object-fit: contain;
		height: 100%;
		width: 100%;
		grid-row: 1 / 3;
		grid-column: 2 / 3;
	}

	#image-gallery-lightbox > button {
		min-width: initial;
		width: fit-content;
		padding: 1.25em clamp(0.5em, 3vw, 2em);
		color: var(--bg-lighter-clr);
		background-color: rgba(252, 247, 242, 0.1);
		box-shadow: none;
		border-top: 2px var(--bg-lighter-clr) solid;
		border-bottom: 2px var(--bg-lighter-clr) solid;
	}

	#image-gallery-lightbox > button:hover {
		background-color: rgba(252, 247, 242, 0.2);
	}

	#image-gallery-lightbox > button:active {
		background-color: rgba(252, 247, 242, 0.25);
	}

	#image-gallery-lightbox > .close-button {
		grid-column: 3 / 4;
		grid-row: 1 / 2;
	}

	#image-gallery-lightbox > .previous-button {
		grid-row: 1 / 3;
		grid-column: 1 / 2;
	}

	#image-gallery-lightbox > .next-button {
		grid-column: 3 / 4;
		grid-row: 2 / 3;
	}

	#intro {
		min-height: 100vh;
		margin: 0 0 calc(5rem - 5vh) 0;
		padding: 0 12vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#intro > p {
		max-width: 65ch;
		margin: 0;
	}

	#intro > .primary-button {
		margin: 2.75em 0;
	}

	#title > .primary-underline, #title > .secondary-underline {
		text-decoration-line: inherit;
		text-decoration-thickness: inherit;
	}

	#title > .primary-underline {
		position: relative;
		text-decoration-color: var(--primary-lighter-clr);
	}

	#title > .secondary-underline {
		position: relative;
		word-break: break-all;
		text-decoration-color: var(--secondary-clr);
	}

	#title > .sparkles {
		position: absolute;
		top: -3.4rem;
		left: 3.4em;
		width: 1.35em;
	}

/* --- About Section & Subsections - START --- */
/* --- Breakpoint 1 (Default) | Mobile Screen Size - START --- */
	#about {
		display: block;
		padding: 0;
		overflow-x: clip;
	}

	/* Adds no border-top to subsections */
	#about > .subsection {
		overflow-x: clip;
		position: relative;
		padding: 5rem 8vw;
		border-top: none;
	}

	/* Adds a border-top to all subsections that has a subsection before them */
	/* And as the first subsection doesn't have a subsection before it, it doesn't have a border-top */
	#about > .subsection ~ .subsection {
		border-top: var(--subsection-border);
	}

	#about >  .subsection ~ .subsection::after, 
	#about > .subsection ~ .subsection::before {
		content: "";
		position: absolute;
		border-radius: 2rem;
		width: 8px;
		height: 8px;
		background-color: var(--text-lighter-clr);
		top: -4px;
	} 

	#about > .subsection::before {
		left: -4px;
	}

	#about > .subsection::after {
		right: -4px;
	}

	#likes-dislikes {
		grid-column: 1 / 3;
		display: flex;
		flex-wrap: wrap;
		column-gap: 10vw;
		row-gap: 4.5rem;
	}
/* --- Breakpoint 1 (Default) | Mobile Screen Size - END --- */

/* --- Breakpoint 2 | Tablet Screen Size - START --- */
	@media ((min-width: 85em) and (min-height: 37.875em)) or ((min-width: 70em) and (max-height: 37.875em)) {
		#about {
			display: grid;
			grid-template-columns: minmax(50ch, 1.75fr) auto;
			grid-template-rows: auto;
		}

		#about > .subsection {
			overflow-x: visible;
		}

		#about > #self-description {
			grid-column: 1 / 3;
		}

		#about > #hobbies {
			grid-column: 1 / 2;
		}

		#about > #hobbies::after {
			top: initial;
			bottom: -4px;
		}

		#about > #stats {
			grid-column: 2 / 3;
			border-left: var(--subsection-border);
		}

		#about > #anime {
			grid-column: 1 / 3;
		}
	}
/* --- Breakpoint 2 | Tablet Screen Size - END --- */

/* --- Breakpoint 3 | Large Screen Size - START --- */
	@media ((min-width: 108em) and (min-height: 37.875em)) or ((min-width: 93em) and (max-height: 37.875em)) {
		#about > #self-description {
			grid-row: 1 / 3;
			grid-column: 1 / 2;
			padding: 5rem 6vw 5rem 8vw;
		}

		#about > #hobbies, #about > #stats {
			padding: 5rem 8vw 5rem 6vw;
		}

		#about > #hobbies {
			grid-column: 2 / 3;
			border-top: none;
			border-left: var(--subsection-border);
		}

		#about > #stats {
			grid-row: 2 / 3;
			grid-column: 2 / 3;
		}

		#about > #stats::after {
			top: initial;
			right: initial;
			bottom: -4px;
			left: -4px;
		}
	}
/* --- Breakpoint 3 | Large Screen Size - END --- */

/* --- Breakpoint 4 | Extra Large Screen Size - START --- */
	@media (min-width: 150em) {
		#about {
			grid-template-columns: 3fr 1.5fr 1fr;
		}

		#about > #self-description {
			grid-column: 1 / 2;
			padding: 5rem 4vw 5rem 6vw;
			border-bottom: none;
		}

		#about > #hobbies, #about > #stats {
			grid-row: 1 / 2;
		}

		#about > #hobbies {
			grid-column: 2 / 3;
			padding: 5rem 4vw;
			border-left: var(--subsection-border);
		}

		#about > #hobbies::before {
			left: -4px;
		}

		#about > #hobbies::after {
			top: initial;
			left: -4px;
			bottom: -4px;
			right: initial;
		}

		#about > #stats, #about > #anime {
			padding: 5rem 6vw 5rem 4vw;
		}

		#about > #stats {
			grid-column: 3 / 4;
			border-top: none;
			border-left: var(--subsection-border);
		}

		#about > #anime {
			grid-row: 2 / 3;
			grid-column: 2 / 4;
			border-left: var(--subsection-border);
		}

		#about > #anime::after {
			top: initial;
			left: -4px;
			bottom: -4px;
			right: initial;
		}

		#about > #likes-dislikes {
			grid-column: 1 / 4;
		}
	}
/* --- Breakpoint 4 | Large Screen Size - END --- */
/* --- About Section & Subsections - END --- */

	#footer {
		overflow: hidden;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		row-gap: 5rem;
		column-gap: 10vw;
		border-top: var(--section-border);
	}

	#bonus {
		width: 100%;
	}

	#bonus > * {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	#bonus-text {
		width: fit-content;
		margin-top: 1.75rem;
	}

	#bonus > #bonus-image {
		display: block;
		width: calc(40rem + 10vw);
		height: auto;
		max-width: min(100%, var(--image-width, 100%));
		box-shadow: 4px 4px 0 var(--secondary-clr);
	}
</style>
